.spinner-container {
    width: 100%;
    display: grid;
    place-content: center;
}

.actions {
    display: flex;
    gap: 1rem;
    padding: .5rem;
}

.rows {
    cursor: pointer;

    &:hover {
        background: hsl(0, 0%, 90%);
    }

    &.selected-row {
        background: hsl(0, 0%, 80%);
    }

    &.selected-row:hover {
        background: hsl(0, 0%, 80%);
        /* mantiene el mismo color al hacer hover */
    }

}
