<div class="header">
    <h1>Productos de Recarga</h1>
    <mat-form-field appearance="outline" class="filter-input">
        <mat-label>Filtrar productos</mat-label>
        <input matInput [formControl]="filterControl" placeholder="Nombre o código">
    </mat-form-field>
</div>
@if(loading){
    <div class="spinner-container">
        <mat-spinner diameter="80"></mat-spinner>
    </div>
}
@else{
<div class="items-container">
    @for (provider of filteredProviders; track $index) {
        <mat-card class="product-item" (click)="payRecharge(provider.id)" >
            <div class="img-container">
                <img src="{{imagesSrc + '/products/provider-image/' + provider.id}}" alt="">
            </div>
            <h2>
                {{provider.name}}
            </h2>
        </mat-card>
    }
</div>
}
<!-- <table mat-table [dataSource]="filteredProducts" *ngIf="!loading">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>

    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let product">{{ product.code }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let product">{{ product.description || '-' }}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let product">{{ product.amount | currency }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->
