<mat-sidenav-container class="sidenav-container">

    <!-- Sidenav lateral -->
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav">
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-nav-list>
            @for(route of routes; track $index) {
            <button mat-list-item [routerLink]="'/'+route.route" >
                <mat-icon matListItemIcon >
                    {{route.icon}}
                </mat-icon>
                <a   routerLinkActive="active-link"  >{{route.name}}</a>
            </button>

            }
        </mat-nav-list>
    </mat-sidenav>

    <!-- Contenido principal -->
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="top-toolbar">
            <button mat-icon-button (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Mi App</span>
        </mat-toolbar>

        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>