.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 220px;
  background: hsl(0, 0, 90%);
}

.top-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;

}

.main-content {
  padding: 1rem;
}

.active-link {
  font-weight: bold;
  color: #1976d2; // color primario
}


button{
    outline: none;
    border: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}