.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  .filter-input {
    width: 300px;
  }
}

.spinner-container {
  display: grid;
  place-content: center;
  height: 200px;
}

mat-card {
  padding: 1rem;
  margin: 1rem;
}

table {
  width: 100%;
  margin-top: 1rem;
}

th.mat-header-cell {
  text-align: left;
}



.items-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  
  gap: 1rem;
}

.product-item{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  &:hover{
    transform: scale(1.05);
    filter: brightness(.9);
    transition: 100ms;
  }
  .img-container{
    height: 80%;
    display: grid;
    place-content: center;
    img{
      width: 200px;
      object-fit: contain;
    }
  }
}